.DS_Store
*.xcuserstate
*.xcuserdatad
UserInterfaceState.xcuserstate

build/
DerivedData/

*.xccheckout
*.xcscmblueprint
*.moved-aside

Pods/
Carthage/
.swiftpm/

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

*.backup
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3

Codes.txt
